@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Technor-Black';
	src: url('/font/Technor-Black.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
